<!DOCTYPE html>
<html lang="en" data-ng-app="website">
<head>
	<meta charset="utf-8">
	<title>Code&Surf Boards Entrepreneurial bootcamp</title>
	<link rel="canonical" href="index.html" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="includes/css/assets.min8fec.css?_build=1538056176" />
	<link rel="stylesheet" href="styles8795.css?_build=1540731745" />
	<style>
		@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic|Pacifico:regular|Permanent+Marker:regular|Raleway:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;subset=cyrillic,latin,latin-ext,cyrillic-ext,greek,greek-ext,vietnamese);
</style>
	<link rel="stylesheet" href="assets/stylescec8.css?_build=1539613969" id="moto-website-style" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body class="moto-background">
	<div class="page">

		<header id="section-header" class="header moto-section" data-widget="section" data-container="section">
			<div data-spacing="maaa" data-bg-image="2017/03/mt-0890-home-header-bg.jpg" style="background-image:url(uploads/2017/03/mt-0890-home-header-bg.jpg);background-position:left;background-repeat:no-repeat;background-size:cover;"
			 class="moto-widget moto-widget-block moto-background-fixed moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
			 data-widget="block" data-bg-position="left">
				<div class="container-fluid">
					<div class="row">
						<div class="moto-cell col-sm-12" data-container="container">
							<div data-spacing="aaaa" class="moto-widget moto-widget-row row-fixed moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
							 data-widget="row" style="" data-bg-position="left top">
								<div class="container-fluid">
									<div class="row" data-container="container">
										<div class="moto-cell col-sm-3 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top">
											<div data-spacing="aaaa" class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
											 data-widget="text" data-preset="default">
												<div class="moto-widget-text-content moto-widget-text-editable">
													<p class="moto-text_system_1"><a class="moto-link" data-id="9" data-action="page" href="index.html">Code&Surf Boards</a></p>
												</div>
											</div>
										</div>
										<div class="moto-cell col-sm-9 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top">
											<div data-widget-id="wid__menu__5aa233454e729" class="moto-widget moto-widget-menu moto-preset-default moto-align-right moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
											 data-preset="default" data-widget="menu">
												<a href="#" class="moto-widget-menu-toggle-btn"><i class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>
												<ul class="moto-widget-menu-list moto-widget-menu-list_horizontal">
													<li class="moto-widget-menu-item">
														<a href="#home" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link">Home</a>
													</li>
													<li class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
														<a href="#programme" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">The programme<span class="fa moto-widget-menu-link-arrow"></span></a>
													</li>
													<li class="moto-widget-menu-item">
														<a href="#included" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">Whats Included?</a>
													</li>
													<li class="moto-widget-menu-item">
														<a href="#subscribe" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">Sign Up</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="home" data-widget-id="wid__spacer__5aa2334552722" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto moto-visible-on_desktop"
							 data-widget="spacer" data-preset="default" data-spacing="mama" data-visible-on="desktop">
								<div class="moto-widget-spacer-block" style="height:20px"></div>
							</div>
							<div data-spacing="mama" class="moto-widget moto-widget-row row-fixed moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
							 data-widget="row" style="" data-bg-position="left top">
								<div class="container-fluid">
									<div class="row" data-container="container">
										<div class="moto-cell col-sm-6 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top">
											<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
											 data-widget="text" data-preset="default" data-spacing="aama" data-animation="">
												<div class="moto-widget-text-content moto-widget-text-editable">
													<p class="moto-text_system_6">Entrepreneurial Bootcamp</p>
													<h1 class="moto-text_system_4">Take control of your website.</h1>
													<p class="moto-text_normal">
														Change your life, empower youself by learning the best techniques to take control of your website and learn to love a new sport.
													We will teach you how to use Wordpress, PHP and Front-End technologies to set you free
													</p>
												</div>
											</div>
											<div data-widget-id="wid__button__5aa2334555609" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
											 data-widget="button">
												<a href="#" data-action="popup" data-popup-id="8" class="moto-widget-button-link moto-size-medium moto-link"><span
													 class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">CONTACT
														US</span></a>
											</div>
										</div>
										<div class="moto-cell col-sm-6 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top"></div>
									</div>
								</div>
							</div>
							<div data-widget-id="wid__spacer__5aa2334556fdc" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto moto-visible-on_desktop"
							 data-widget="spacer" data-preset="default" data-spacing="lama" data-visible-on="desktop">
								<div class="moto-widget-spacer-block" style="height:30px"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<section id="section-content" class="content page-9 moto-section" data-widget="section" data-container="section">
			<div style="" data-spacing="lala" class="moto-widget moto-widget-block row-fixed moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
			 data-widget="block" data-bg-position="left top">
				<div class="container-fluid">
					<div class="row">
						<div class="moto-cell col-sm-12" data-container="container">
							<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small"
							 data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
								<div class="moto-widget-text-content moto-widget-text-editable">
									<h2 class="moto-text_system_5" style="text-align: center;">Learn to develop your business and relax in beautiful Morrocco.</h2>
									<p class="moto-text_system_8" style="text-align: center;">&nbsp;</p>
									<p class="moto-text_system_8" style="text-align: center;">Earn new skils and enjoy our life changing 3 week programme.</p>
								</div>
							</div>
							<div data-spacing="maaa" class="moto-widget moto-widget-row moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
							 data-widget="row" style="" data-bg-position="left top">
								<div class="container-fluid">
									<div class="row" data-container="container">
										<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top">
											<div data-draggable-disabled="" data-css-name="moto-container_content_58b873cb1" class="moto-widget moto-widget-container moto-container_content_58b873cb1"
											 data-widget="container" data-container="container" data-bg-position="bottom">
												<div data-widget-id="wid__spacer__5aa2328ee6f40" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
												 data-widget="spacer" data-preset="default" data-spacing="laaa" data-visible-on="mobile-v">
													<div class="moto-widget-spacer-block" style="height:120px"></div>
												</div>
												<div data-draggable-disabled="" data-spacing="asss" class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-small moto-spacing-left-small"
												 data-widget="text" data-preset="default">
													<div class="moto-widget-text-content moto-widget-text-editable">
														<h3 class="moto-text_system_12">Our Programme</h3>
													</div>
												</div>
											</div>
										</div>
										<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top">
											<div data-css-name="moto-container_content_58b876503" class="moto-widget moto-widget-container moto-container_content_58b876503"
											 data-widget="container" data-container="container" data-bg-position="bottom">
												<div data-widget-id="wid__spacer__5aa2328ee735d" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
												 data-widget="spacer" data-preset="default" data-spacing="laaa" data-visible-on="mobile-v">
													<div class="moto-widget-spacer-block" style="height:120px"></div>
												</div>
												<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-small moto-spacing-left-small"
												 data-widget="text" data-preset="default" data-spacing="asss" data-animation="">
													<div class="moto-widget-text-content moto-widget-text-editable">
														<h3 class="moto-text_system_12">Location</h3>
													</div>
												</div>
											</div>
										</div>
										<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top">
											<div data-css-name="moto-container_content_58b8766c4" class="moto-widget moto-widget-container moto-container_content_58b8766c4"
											 data-widget="container" data-container="container" data-bg-position="bottom">
												<div data-widget-id="wid__spacer__5aa2328ee755a" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
												 data-widget="spacer" data-preset="default" data-spacing="laaa" data-visible-on="mobile-v">
													<div class="moto-widget-spacer-block" style="height:120px"></div>
												</div>
												<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-small moto-spacing-left-small"
												 data-widget="text" data-preset="default" data-spacing="asss" data-animation="">
													<div class="moto-widget-text-content moto-widget-text-editable">
														<h3 class="moto-text_system_12">Activities</h3>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="programme" class="moto-widget moto-widget-block moto-bg-color5_3 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
			 data-spacing="lala" data-widget="block" data-bg-position="left top">
				<div class="container-fluid">
					<div class="row">
						<div class="moto-cell col-sm-12" data-container="container">
							<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small"
							 data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
								<div class="moto-widget-text-content moto-widget-text-editable">
									<h2 class="moto-text_system_5" style="text-align: center;">Our 3 Week Coding Programe.</h2>
									<h2 class="moto-text_system_8" style="text-align: center;">&nbsp;</h2>
									<p class="moto-text_system_8" style="text-align: center;">Check out our comprehensive coding programme. 
										<br>Taking you from novice to experienced in just 3 weeks.</p>
								</div>
							</div>
							<div class="moto-widget moto-widget-row row-fixed" data-widget="row" style="" data-bg-position="left top">
								<div class="container-fluid">
									<div class="row" data-container="container">
										<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top">
											<div data-grid-type="xs" data-spacing="maaa" class="moto-widget moto-widget-row moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
											 data-widget="row" style="" data-bg-position="left top">
												<div class="container-fluid">
													<div class="row" data-container="container">
														<div class="moto-cell col-xs-3 moto-widget moto-widget-row__column" data-container="container"
														 data-widget="row.column" style="" data-bg-position="left top">
															<div data-widget-id="wid__image__5aa2328ee8d50" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  "
															 data-widget="image">
																<span class="moto-widget-image-link">
																	<img data-src="/uploads/2017/03/mt-0890-home-icons01.png" class="moto-widget-image-picture lazyload"
																	 data-id="145" title="" alt="">
																</span>
															</div>
														</div>
														<div class="moto-cell col-xs-9 moto-widget moto-widget-row__column" data-container="container"
														 data-widget="row.column" style="" data-bg-position="left top">
															<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
															 data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
																<div class="moto-widget-text-content moto-widget-text-editable">
																	<h3 class="moto-text_system_9"><a target="_self" data-action="url" class="moto-link" href="#">Week 1 - Programming 101</a></h3>
																	<p class="moto-text_system_9">&nbsp;</p>
																	<p class="moto-text_system_10">On the first week we will teach you how to organize content and setup your  
																	own development environment:</p>
																	<p class="moto-text_system_10">Setup development environment.</p>
																	<p class="moto-text_system_10">Introduction to Programming with PHP.</p>
																	<p class="moto-text_system_10">WordPress setup.</p>
																	<p class="moto-text_system_10">Installing Wordpress Modules.</p>
																	<p class="moto-text_system_10">Wordpress SEO.</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top">
											<div data-grid-type="xs" data-spacing="maaa" class="moto-widget moto-widget-row moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
											 data-widget="row" style="" data-bg-position="left top">
												<div class="container-fluid">
													<div class="row" data-container="container">
														<div class="moto-cell col-xs-3 moto-widget moto-widget-row__column" data-container="container"
														 data-widget="row.column" style="" data-bg-position="left top">
															<div data-widget-id="wid__image__5aa2328eea910" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  "
															 data-widget="image">
																<span class="moto-widget-image-link">
																	<img data-src="/uploads/2017/03/mt-0890-home-icons02.png" class="moto-widget-image-picture lazyload"
																	 data-id="147" title="" alt="">
																</span>
															</div>
														</div>
														<div class="moto-cell col-xs-9 moto-widget moto-widget-row__column" data-container="container"
														 data-widget="row.column" style="" data-bg-position="left top">
															<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
															 data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
																<div class="moto-widget-text-content moto-widget-text-editable">
																	<h3 class="moto-text_system_9"><a target="_self" data-action="url" class="moto-link" href="#">Week 2 /Front-End/ </a></h3>
																	<p class="moto-text_system_9">&nbsp;</p>
																	<p class="moto-text_system_10">Learn how to make your designs happen and add a touch of magic with Javascript.</p>
																	<p class="moto-text_system_10">HTML & SCSS.</p>
																	<p class="moto-text_system_10">Bootstrap.</p>
																	<p class="moto-text_system_10">Javascript.</p>
																	<p class="moto-text_system_10">Wordpress Site Structure.</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top">
											<div data-grid-type="xs" data-spacing="maaa" class="moto-widget moto-widget-row moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
											 data-widget="row" style="" data-bg-position="left top">
												<div class="container-fluid">
													<div class="row" data-container="container">
														<div class="moto-cell col-xs-3 moto-widget moto-widget-row__column" data-container="container"
														 data-widget="row.column" style="" data-bg-position="left top">
															<div data-widget-id="wid__image__5aa2328eeabf2" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  "
															 data-widget="image">
																<span class="moto-widget-image-link">
																	<img data-src="/uploads/2017/03/mt-0890-home-icons03.png" class="moto-widget-image-picture lazyload"
																	 data-id="148" title="" alt="">
																</span>
															</div>
														</div>
														<div class="moto-cell col-xs-9 moto-widget moto-widget-row__column" data-container="container"
														 data-widget="row.column" style="" data-bg-position="left top">
															<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
															 data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
																<div class="moto-widget-text-content moto-widget-text-editable">
																	<h3 class="moto-text_system_9"><a target="_self" data-action="url" class="moto-link" href="#">Week 3 /Customization and Capstone Project/</a></h3>
																	<p class="moto-text_system_9">&nbsp;</p>
																	<p class="moto-text_system_10">Convert your HTML template into functional Wordpress Themes and Build your own custom modules.</p>
																	<p class="moto-text_system_10">Organizing WordPress Sites.</p>
																	<p class="moto-text_system_10">Wordpress Site Structure.</p>
																	<p class="moto-text_system_10">Components Hierarchy.</p>
																	<p class="moto-text_system_10">Building Custom Templates.</p>
																	<p class="moto-text_system_10">WordPress Functions & Environment Variables.</p>
																	<p class="moto-text_system_10">Building Custom Modules.</p>
																	<p class="moto-text_system_10">Capstone Project presentation.</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div data-bg-image="2017/03/morrocco-yellow.jpg" style="background-image:url(uploads/2017/03/morrocco-yellow.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;"
			 data-spacing="lala" class="moto-widget moto-widget-block moto-background-fixed moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
			 data-widget="block" data-bg-position="center">
				<div class="container-fluid">
					<div class="row">
						<div class="moto-cell col-sm-12" data-container="container">
							<div class="moto-widget moto-widget-row row-fixed" data-widget="row" style="" data-bg-position="left top">
								<div class="container-fluid">
									<div class="row" data-container="container">
										<div class="moto-cell col-sm-12 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top">
											<div data-widget-id="wid__image__5aa2328eebe60" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  "
											 data-widget="image">
												<a class="moto-widget-image-link moto-link" href="#" data-action="popup" data-popup-id="9">
													<img data-src="/uploads/2017/03/mt-0890-video-icons.png" class="moto-widget-image-picture lazyload"
													 data-id="186" title="" alt="">
												</a>
											</div>
											<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
											 data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
												<div class="moto-widget-text-content moto-widget-text-editable">
													<p class="moto-text_186" style="text-align: center;">Best Entrepreneurial Bootcamp experience at the Riad Imourane.<br></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="included" style="" class="moto-widget moto-widget-block row-fixed moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
			 data-spacing="lala" data-widget="block" data-bg-position="left top">
				<div class="container-fluid">
					<div class="row">
						<div class="moto-cell col-sm-12" data-container="container">
							<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small"
							 data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
								<div class="moto-widget-text-content moto-widget-text-editable">
									<h2 class="moto-text_system_5" style="text-align: center;">Great value <strong>all included</strong> programme.</h2>
									<p class="moto-text_system_8" style="text-align: center;">&nbsp;</p>
									<p class="moto-text_system_10" style="text-align: center;">Our programme includes everything, from picking you up at the air port, housing, meals and of course coding and surfing lessons.</p>
								</div>
							</div>
							<div class="moto-widget moto-widget-row" data-widget="row" style="text-align: center;" data-bg-position="left top">
								<div class="container-fluid">
									<div class="row" data-container="container">
										<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top">
											<div data-widget-id="wid__image__5aa2328eeb3ea" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  "
											 data-widget="image">
												<span class="moto-widget-image-link">
													<img data-src="/uploads/2017/03/mt-0890-home-img06.jpg" class="moto-widget-image-picture lazyload"
													 data-id="154" title="" alt="">
												</span>
											</div>
											<div data-css-name="moto-container_content_58b88cc48" class="moto-widget moto-widget-container moto-container_content_58b88cc48"
											 data-widget="container" data-container="container" data-bg-position="left top">
												<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-small moto-spacing-bottom-small moto-spacing-left-small"
												 data-widget="text" data-preset="default" data-spacing="msss" data-animation="">
													<div class="moto-widget-text-content moto-widget-text-editable">
														<i class="fas fa-bed fa-5x"></i>
														<p class="moto-text_system_12">&nbsp;</p>
														<h3>Single room on the Riad Imourane.</h3>
													</div>
												</div>
											</div>
										</div>
										<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top">
											<div data-widget-id="wid__image__5aa2328eeb3ea" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  "
											 data-widget="image">
												<span class="moto-widget-image-link">
													<img data-src="/uploads/2017/03/mt-0890-home-img06.jpg" class="moto-widget-image-picture lazyload"
													 data-id="154" title="" alt="">
												</span>
											</div>
											<div data-css-name="moto-container_content_58b88cc48" class="moto-widget moto-widget-container moto-container_content_58b88cc48"
											 data-widget="container" data-container="container" data-bg-position="left top">
												<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-small moto-spacing-bottom-small moto-spacing-left-small"
												 data-widget="text" data-preset="default" data-spacing="msss" data-animation="">
													<div class="moto-widget-text-content moto-widget-text-editable">
														<i class="fas fa-utensils fa-5x"></i>
														<p class="moto-text_system_12">&nbsp;</p>
														<h3>3 meals daily.</h3>
													</div>
												</div>
											</div>
										</div>
										<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top">
											<div data-widget-id="wid__image__5aa2328eeb3ea" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  "
											 data-widget="image">
												<span class="moto-widget-image-link">
													<img data-src="/uploads/2017/03/mt-0890-home-img06.jpg" class="moto-widget-image-picture lazyload"
													 data-id="154" title="" alt="">
												</span>
											</div>
											<div data-css-name="moto-container_content_58b88cc48" class="moto-widget moto-widget-container moto-container_content_58b88cc48"
											 data-widget="container" data-container="container" data-bg-position="left top">
												<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-small moto-spacing-bottom-small moto-spacing-left-small"
												 data-widget="text" data-preset="default" data-spacing="msss" data-animation="">
													<div class="moto-widget-text-content moto-widget-text-editable">
														<i class="fas fa-laptop fa-5x"></i>
														<p class="moto-text_system_12">&nbsp;</p>
														<h3>Webdevelopment classes.</h3>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row" data-container="container">
											<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
											 style="" data-bg-position="left top">
												<div data-widget-id="wid__image__5aa2328eeb3ea" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  "
												 data-widget="image">
													<span class="moto-widget-image-link">
														<img data-src="/uploads/2017/03/mt-0890-home-img06.jpg" class="moto-widget-image-picture lazyload"
														 data-id="154" title="" alt="">
													</span>
												</div>
												<div data-css-name="moto-container_content_58b88cc48" class="moto-widget moto-widget-container moto-container_content_58b88cc48"
												 data-widget="container" data-container="container" data-bg-position="left top">
													<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-small moto-spacing-bottom-small moto-spacing-left-small"
													 data-widget="text" data-preset="default" data-spacing="msss" data-animation="">
														<div class="moto-widget-text-content moto-widget-text-editable">
															<i class="fas fa-wifi fa-5x"></i>
															<p class="moto-text_system_12">&nbsp;</p>
															<h3>Wifi.</h3>
														</div>
													</div>
												</div>
											</div>
											<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
											 style="" data-bg-position="left top">
												<div data-widget-id="wid__image__5aa2328eeb3ea" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  "
												 data-widget="image">
													<span class="moto-widget-image-link">
														<img data-src="/uploads/2017/03/mt-0890-home-img06.jpg" class="moto-widget-image-picture lazyload"
														 data-id="154" title="" alt="">
													</span>
												</div>
												<div data-css-name="moto-container_content_58b88cc48" class="moto-widget moto-widget-container moto-container_content_58b88cc48"
												 data-widget="container" data-container="container" data-bg-position="left top">
													<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-small moto-spacing-bottom-small moto-spacing-left-small"
													 data-widget="text" data-preset="default" data-spacing="msss" data-animation="">
														<div class="moto-widget-text-content moto-widget-text-editable">
															<i class="fas fa-taxi fa-5x"></i>
															<p class="moto-text_system_12">&nbsp;</p>
															<h3>Airport Transfer.</h3>
														</div>
													</div>
												</div>
											</div>
											<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
											 style="" data-bg-position="left top">
												<div data-widget-id="wid__image__5aa2328eeb3ea" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  "
												 data-widget="image">
													<span class="moto-widget-image-link">
														<img data-src="/uploads/2017/03/mt-0890-home-img06.jpg" class="moto-widget-image-picture lazyload"
														 data-id="154" title="" alt="">
													</span>
												</div>
												<div data-css-name="moto-container_content_58b88cc48" class="moto-widget moto-widget-container moto-container_content_58b88cc48"
												 data-widget="container" data-container="container" data-bg-position="left top">
													<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-small moto-spacing-bottom-small moto-spacing-left-small"
													 data-widget="text" data-preset="default" data-spacing="msss" data-animation="">
														<div class="moto-widget-text-content moto-widget-text-editable">
															<i class="fas fa-umbrella-beach fa-5x"></i>
															<p class="moto-text_system_12">&nbsp;</p>
															<h3>Surf Classes.</h3>
														</div>
													</div>
												</div>
											</div>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="subscribe" class="moto-widget moto-widget-block row-fixed moto-background-fixed moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
			 style="background-image:url(uploads/2017/03/mt-0890-content-bg03.jpg);background-position:left top;background-repeat:no-repeat;background-size:cover;"
			 data-bg-image="2017/03/mt-0890-content-bg03.jpg" data-spacing="lala" data-widget="block" data-bg-position="left top">
				<div class="container-fluid">
					<div class="row">
						<div class="moto-cell col-sm-12" data-container="container">
							<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-small moto-spacing-left-small"
							 data-widget="text" data-preset="default" data-spacing="asss" data-animation="">
								<div class="moto-widget-text-content moto-widget-text-editable">
									<h2 class="moto-text_277" style="text-align: center;"><span class="moto-color5_5">Subscribe
											to our mailing list</span></h2>
									<p>&nbsp;</p>
									<p class="moto-text_system_8" style="text-align: center;"><span class="moto-color5_5">BE
											THE FIRST TO GET LATEST NEWS AND OFFERS!</span></p>
								</div>
							</div>
							<div data-spacing="aaaa" class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
							 data-widget="row" style="" data-bg-position="left top">
								<div class="container-fluid">
									<div class="row" data-container="container">
										<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top"></div>
										<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top">
											<div data-widget-id="wid__mail_chimp__5aa2328ef19e5" class="moto-widget moto-widget-mail_chimp moto-widget-contact_form moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  "
											 data-widget="mail_chimp" data-preset="default">
												<div ng-controller="widget.MailChimp.Controller" ng-init="listId = '';actionAfterSubmission={&quot;action&quot;:&quot;none&quot;,&quot;url&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;id&quot;:&quot;&quot;};resetAfterSubmission=false">


													<form class="moto-widget-contact_form-form" role="form" name="subscribeForm" ng-submit="submit()"
													 novalidate>
														<div ng-show="sending" class="contact-form-loading"></div>
														<div class="moto-widget-contact_form-group">
															<label for="field_email" class="moto-widget-contact_form-label">Email</label>
															<input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="Email *"
															 ng-blur="validate('email')" required ng-model-options="{ updateOn: 'blur' }" name="email" id="field_email"
															 ng-model="message.email" />
															<span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="subscribeForm.email.$invalid && !subscribeForm.email.$pristine && !subscribeForm.email.emailInvalid">Field
																is required</span>
															<span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="subscribeForm.email.emailInvalid && !subscribeForm.email.$pristine">Incorrect
																email</span>
														</div>

														<div class="moto-widget-contact_form-success ng-cloak" ng-cloak ng-show="emailSent">
															You have successfully subscribed to the newsletter
														</div>
														<div class="moto-widget-contact_form-danger ng-cloak" ng-cloak ng-show="emailError && !isSubscribed">
															You were not subscribed. Please try again
														</div>
														<div class="moto-widget-contact_form-danger ng-cloak" ng-cloak ng-show="emailError && isSubscribed">
															You are already subscribed to this newsletter
														</div>

														<div class="moto-widget-contact_form-buttons">
															<div class="moto-widget moto-widget-button moto-preset-4 moto-align-center" data-preset="4" data-align="center">
																<a ng-click="submit()" class="moto-widget-button-link moto-size-medium" data-size="medium"><span class="fa moto-widget-theme-icon"></span><span
																	 class="moto-widget-button-label">SUBCRIBE</span></a>
															</div>
															<button type="submit" class="hidden"></button>
														</div>
													</form>
												</div>
											</div>
										</div>
										<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="contactus" style="" data-spacing="mama" class="moto-widget moto-widget-block moto-bg-color2_3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
			 data-widget="block" data-draggable-disabled="" data-bg-position="left top">
				<div class="container-fluid">
					<div class="row">
						<div class="moto-cell col-sm-12" data-container="container">
							<div class="moto-widget moto-widget-row row-fixed moto-justify-content_center" data-widget="row"
							 data-draggable-disabled="" style="" data-bg-position="left top">
								<div class="container-fluid">
									<div class="row" data-container="container">
										<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top">
											<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
											 data-widget="text" data-preset="default">
												<div class="moto-widget-text-content moto-widget-text-editable">
													<p class="moto-text_240"><strong><span class="moto-color5_5">Don’t
																Wait Any Longer. Contact Us!<br></span></strong></p>
												</div>
											</div>
										</div>
										<div class="moto-cell col-sm-5 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top">
											<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
											 data-widget="text" data-preset="default" data-spacing="sasa" data-animation="" data-draggable-disabled="">
												<div class="moto-widget-text-content moto-widget-text-editable">
													<p class="moto-text_240"><a data-action="call" class="moto-link" href="tel:1234567890"></a><a href="tel:1234567890"
														 data-action="call" class="moto-link">(123) 456-7890</a><a data-action="call" class="moto-link" href="tel:1234567890"></a>
														24/7 Dedicated Customer Support</p>
												</div>
											</div>
										</div>
										<div class="moto-cell col-sm-3 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"
										 style="" data-bg-position="left top">
											<div data-widget-id="wid__button__5aa2328ef37ab" class="moto-widget moto-widget-button moto-preset-default moto-align-right moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
											 data-widget="button">
												<a href="#" data-action="popup" data-popup-id="8" class="moto-widget-button-link moto-size-large moto-link"><span
													 class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">CONTACT
														US</span></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	

	<div data-moto-back-to-top-button class="moto-back-to-top-button">
		<a ng-click="toTop($event)" class="moto-back-to-top-button-link">
			<span class="moto-back-to-top-button-icon fa"></span>
		</a>
	</div>
	<script src="includes/js/website.assets.min7eee.js?_build=1538056236" type="text/javascript" data-cfasync="false"></script>
	<script type="text/javascript" data-cfasync="false">
		var websiteConfig = websiteConfig || {};
		websiteConfig.address = 'index.html';
		websiteConfig.addressHash = 'd7043ccf39f61cc469966879cb791560';
		websiteConfig.apiUrl = 'api.json';
		websiteConfig.preferredLocale = 'en_US';
		websiteConfig.preferredLanguage = websiteConfig.preferredLocale.substring(0, 2);
		websiteConfig.back_to_top_button = { "topOffset": 300, "animationTime": 500, "type": "theme" };
		websiteConfig.popup_preferences = { "loading_error_message": "The content could not be loaded." };
		websiteConfig.lazy_loading = { "enabled": true };
		websiteConfig.cookie_notification = { "enable": false, "content": "<p class=\"moto-text_normal\" style=\"text-align: justify;\">This website uses cookies to ensure you get the best experience on our website.<\/p>", "content_hash": "94404561c632a6e603b0c7479e510b68" };
		angular.module('website.plugins', []);
	</script>
	<script src="includes/js/website.min1663.js?_build=1538056223" type="text/javascript" data-cfasync="false"></script>
	<script type="text/javascript">$.fn.motoGoogleMap.setApiKey('');</script>
</body>
</html>